* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  background: #f9f9f9;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1100;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

.main-header {
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.main-header h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.main-header h1 span {
  color: #ff0000;
}

.main-header p span {
  font-size: 1.2rem;
  font-style: italic;
}

img {
  width: 100%;
}

.card {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 2fr 2fr;
  grid-gap: 2rem;
  margin-bottom: 2rem;
  background: #f1f1f1;
}

.card h3 {
  margin-bottom: 2rem;
  color: #ff0000;
}

.card img {
  height: 300px;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(even) img {
  order: 2;
}

.btn {
  /* display: inline; */
  cursor: pointer;
  background: #000;
  color: #fff;
  /* margin-top: 5em; */
  padding: 0.1em 1.2em;
}
.small {
  font-size: medium;
  margin-top: 3px;
}

.btn:hover {
  opacity: 0.5;
}

.main-footer {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 10vh;
  margin-bottom: 2rem;
}

.main-footer p {
  margin-bottom: -2rem;
  font-size: 1rem;
}

@media (max-width: 700px) {
  .card {
    display: block;
  }
}
